  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: white
  }

  /* for the start page */
  #start-button {
    background: purple;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }
  
  header {
    text-align: center;
  }

  .header {
    font-size: 4em;
    padding: 40px;
    background: white;
    color: black;
  }

  .instructions {
    font-size: 1.5em;
    padding: 40px;
    text-align: center;
  }

  /* to display quiz once start button is pressed */
  #main-quiz {
    display: none;
    padding-left: 40px;
  }

  #main-quiz.show {
    display: block;
  }

  #start-page.hide {
    display: none;
  }
 
  #result-page {
    display: none;
    text-align: center;
    font-size: 1.5em;
   }
   
  #result-page.show {
    display: block; 
   } 

   #highscore {
    display: none;
    margin: auto;
    width: 60%;
    height: 60%;
    border: 3px solid purple;
    padding: 10px;
   }

   #highscore.show {
    display: block;
   }

  /* to display timer on the right side */
  .timer-text {
    position: fixed;
    top: 100px;
    left: 80%;
    width: 250px;
  }

  /* to display score on the right side */
  #score-block {
    position: fixed;
    top: 200px;
    left: 80%;
    width: 250px;
  }

  /* styling for quiz */
  .answers {
    font-size: 1.5em;
    padding-left: 30px;
  }

  p {
    font-size: 2em;
  }

  #main-quiz button {
    background: purple;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 500px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
    display: flex;
    flex-direction: column;
  }

  #submit-button, #reset-game-button {
    background: purple;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 500px;
    padding: 10px 20px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }